::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: silver;
}
::-webkit-scrollbar-thumb {
    background-color: gray;
}
::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fff8e7;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

